body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: pink;
    margin: 0;
    padding: 0;
  }
  
  ul{
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color:skyblue;
    box-shadow: 0 0 10px rgba(149, 120, 120, 0.1);
  }
  
  h3 {
    color: blueviolet;
  }
  
  p {
    color: black;
    margin: 5px 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  